[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
pyllamacpp = "*"
PyNaCl = "*"
pytube = "*"
youtube-search-python = "*"
youtube-dl = "*"
python-slugify = "*"

[dev-packages]
